{% extends 'layout.html' %}
{% block head %} {% endblock %}
{% block title %} Claim Details {% endblock %}
{% block content %}

<div class="view" >
  <fieldset class="fieldform">
  <h2> Claim Details</h2>
  <p>Claim ID : {{details[0]}}</p>
  <p>Claim Beneficiary name : <span style="text-transform: capitalize;">{{name[0][0]}}</span><br> Claim Beneficiary SSN : {{details[2]}}</p>
  <p>Claim Date : {{details[3]}}</p>
  <p>Description : {{details[6]}} <br> Expenses : {{details[5]}} <br> Receipt number : {{details[1]}}</p>
  <p>Hospital : <span style="text-transform: capitalize;">{{details[11]}}</span></p>
  <p>Resolved : {{resolved}}</p>
    </fieldset>
</div>


{% endblock %}